<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong><%= notice %></strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<h1 class="text-center mt-4">Lista di Tutti i libri pubblicati</h1>
<div class="container">
<% @books.each do |book| %>
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
<div class="card text-center shadow mb-5 bg-body rounded">
  <div class="card-header fst-italic">
    By Alessandro and Augustin
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= link_to book.titolo, book_path(book), class: "text-success" %></h5>
    <h6 class="card-title"><%= book.autore %></h6>
    <p class="card-text"><%= truncate(book.desciption, length: 100) %></p>
    <p class="card-text"><%= book.prezzo %></p>
    <a href="#" class="btn btn-outline-primary">Aggiungi al carrello</a>
    <%= link_to 'Detagli', book_path(book), class: "btn btn-outline-info" %>
    <%= link_to 'Modifica', edit_book_path(book), class: "btn btn-outline-warning" %>
    <%= link_to 'Cancella', book_path(book), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
  </div>
  <div class="card-footer text-muted">
    <small>Pubblicato <%= time_ago_in_words(book.created_at) %> fa,
    Modificato <%= time_ago_in_words(book.updated_at) %> fa </small>
  </div>
</div>
</div>
</div>
<% end %>
</div>

<%= link_to 'Home', root_path %> |
<%= link_to 'New Book', new_book_path %>
